@import url('assets/fonts/Circular.css');
@import url('assets/fonts/inconsolata/inconsolata.css');

:root {
  --palette-green: rgb(0, 209, 202);
  --palette-red: rgb(255, 77, 97);
  --palette-lavender: rgb(177, 197, 236);
  --palette-steel: rgb(100, 157, 225);
  --palette-ocean: rgb(46, 125, 218);
  --palette-orange: rgb(252, 163, 38);

  --palette-neutral-0: rgb(21, 24, 30);
  --palette-neutral-1: rgb(28, 33, 45);
  --palette-neutral-2: rgb(36, 42, 56);
  --palette-neutral-3: rgb(39, 46, 61); /* navy blue */
  --palette-neutral-4: rgb(54, 64, 82);
  --palette-neutral-5: rgb(66, 79, 103);
  --palette-neutral-6: rgb(153, 162, 183);
  --palette-neutral-7: rgb(195, 200, 213); /* storm grey */
  --palette-neutral-8: rgb(217, 220, 228);
  --palette-neutral-9: rgb(255, 255, 255);
  
  background-color: rgb(var(--palette-neutral-3)) !important;
}

body {
  margin: 0;
  font-family: 'CircularXXWeb', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--palette-neutral-3);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #2a3038;
  border-radius: 4px;
  color: #e6edf3;
  border: 1px solid #30363d;
  letter-spacing: -0.2px;
}

.markdown-body pre code {
  padding: 0;
  background-color: inherit;
}

.markdown-body {
  white-space: pre-wrap; /* Handles line breaks */
}

.markdown-body th {
  text-align: left;
}

.markdown-body th,
.markdown-body td {
  padding: 0.1rem 1rem;
}
